
html{
    font-family: Helvetica;

}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  }

body{
    overflow-x: hidden;
    font-family: 'Permanent Marker', cursive;
}

@media screen and (min-width: 2000px){
    
.nav-bar {
    display: inline-block;
    align-content: center;
    margin: 0;
    padding: 0;
    width: 100%;  
    height: 200px; 
    background-color: rgb(36, 36, 36);
    border-bottom: 10px solid rgb(111, 45, 150);
}

.logo-left{
    margin-left: 25px;
    margin-top: 25px;
    vertical-align: center;
}


.nav-bar .title {
    display: inline-flex;
    margin-left: 3%;
    z-index: 1;
    color: rgb(111, 45, 150);
    font-size: 5rem;
}

.nav-bar .topnav {
    display: inline-flex;
    margin-left: 2%;
    z-index: 1;
    color: rgb(111, 45, 150);
    font-size: 2rem;
    align-items: center;
    width: auto;
}

.dropdown {
    float: left;
    overflow: hidden;
    color: rgb(111, 45, 150);
    font-size: 2rem;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    /* margin-right: 10%; */
  }
  
  .dropdown .dropbtn {
    /* font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; */
    display: inline-flex;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 1;
    color: rgb(111, 45, 150);
    font-size: 2rem;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    background-color: rgb(36, 36, 36);
    border: none;
  }

  .dropbtn:hover {
      color: white;
  }

  /* .nav-bar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  } */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(36, 36, 36);
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 1.5rem;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color:rgb(111, 45, 150);
    color: rgb(36, 36, 36);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.menubar{
    display: none;
 }

 .sidenav {
   display: none;
}

}

@media screen and (min-width: 900px) and (max-width: 2000px){
    
    .nav-bar {
        display: inline-block;
        align-content: center;
        margin: 0;
        padding: 0;
        width: 100%;  
        height: 200px; 
         background-color: rgb(36, 36, 36);
        border-bottom: 10px solid rgb(111, 45, 150);
    }
    
    .logo-left{
        margin-left: 25px;
        margin-top: 25px;
        vertical-align: center;
    }
    
    
    .nav-bar .title {
        display: inline-flex;
        margin-left: 3%;
        z-index: 1;
        color: rgb(111, 45, 150);
        font-size: 5rem;
    }
    
    .nav-bar .topnav {
        display: none;

    }
    
    .bar1, .bar2, .bar3{
        width: 35px;
        height: 5px;
        background-color: rgb(111, 45, 150);
        margin: 6px 0;
        transition: 0.4s;
        position: relative;
        top: 50%;
    }
    
    .menubar{
        margin-left: 3%;
        display: inline-block;
        cursor: pointer;
     }
    
     .menubar :hover{
        color: white;
     }
    
    
    
     .sidenav {
        height: 1200px;
        width: 0px;
        position: fixed;
        z-index: 1;
        top: 100;
        left: 0;
        background-color:rgba(36,36,36, 0.95);
        overflow-x: hidden;
        margin-top: 200px;
        padding-top: 60px;
        transition: 0.5s;
    
    
    }
    
    .sidenav a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 2rem;
        color: rgb(111, 45, 150);
        display: flex;
        text-align: center;
        justify-content: center;
        transition: 0.3s;
    }
    
    .sidenav a:hover{
        color: #f1f1f1;
    }
    
    .sidenav .closebtn{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color:rgba(36, 36, 36, 0.1);
    /* float: left; */
    overflow: hidden;
    color: rgb(111, 45, 150);
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
    padding: 8px 8px 8px 32px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 1s;
    cursor: pointer;
    display: flex;
    justify-content: center;

  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 30px 30px 0;
    background-color:rgba(36, 36, 36, 0);
    color: rgb(111, 45, 150);
    display: none;
    justify-content: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

 .panel a{
     font-size: 1.5rem;
     background-color:rgba(36,36,36, 0);
     padding-left: 40px;

 }
    }

    @media screen and (max-width: 900px){
    
        .nav-bar {
            display: inline-block;
            align-content: center;
            margin: 0;
            padding: 0;
            width: 100%;  
            height: 200px; 
            background-color: rgb(36, 36, 36);
            border-bottom: 10px solid rgb(111, 45, 150);
        }
        
        .logo-left{
            margin-left: 25px;
            margin-top: 25px;
            vertical-align: center;
        }
        
        
        .nav-bar .title {
            display: none;
 
        }
        
        .nav-bar .topnav {
            display: none;
        }

        .bar1, .bar2, .bar3{
            width: 35px;
            height: 5px;
            background-color: rgb(111, 45, 150);
            margin: 6px 0;
            transition: 0.4s;
            position: relative;
            top: 50%;
        }
        
        .menubar{
            margin-left: 30%;
            display: inline-block;
            /* justify-content: center; */
            cursor: pointer;
         }
        
         .menubar :hover{
            color: white;
         }
        
        
        
         .sidenav {
            height: 100%;
            width: 0px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color:rgba(36,36,36, 0.95);
            overflow-x: hidden;
            /* overflow-y: hidden; */
            /* margin-top: 200px; */
            padding-top: 60px;
            transition: 0.5s;
        
        
        }
        
        .sidenav a{
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 2rem;
            color: rgb(111, 45, 150);
            display: flex;
            text-align: center;
            justify-content: center;
            transition: 0.3s;
        }
        
        .sidenav a:hover{
            color: #f1f1f1;
        }
        
        .sidenav .closebtn{
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 2rem;
            margin-left: 50px;
        }
 
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color:rgba(36, 36, 36, 0.1);
    /* float: left; */
    overflow: hidden;
    color: rgb(111, 45, 150);
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
    padding: 8px 8px 8px 32px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 1s;
    cursor: pointer;
    display: flex;
    justify-content: center;

  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 30px 30px 0;
    background-color:rgba(36, 36, 36, 0);
    color: rgb(111, 45, 150);
    display: none;
    justify-content: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

 .panel a{
     font-size: 1.5rem;
     background-color:rgba(36,36,36, 0);
     padding-left: 40px;

 }
}
    

.topnav > a{
    margin: 20px;
}

.topnav > a:hover{
    color: white;
}
.panel > a:hover{
    color: white;
}


/* unvisited link */
.nav-bar:link {
    color: rgb(111, 45, 150);
  }
  
  /* visited link */
  a:visited {
    color: rgb(111, 45, 150);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(111, 45, 150);
  }
  
  /* selected link */
  a:active {
    color: rgb(111, 45, 150);
  }

.nav-bar a {
    text-decoration: none;
}

.content{
    text-align: center;
    margin-bottom: 20px;
}

.content p {
    height: 36rem;
    width: 70%;
    font-size: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
}

.news-content{
    text-align: center;
    background-color: rgb(36, 36, 36);
    color: rgb(111, 45, 150);
    height: 1000px;
}

.news-content h1{
    font-size: 4rem;
}

#news-item {
    /* text-align: center; */
    margin-left: 30%;
    width: 40%;
    margin-bottom: 50px;
    /* border-bottom: 3px solid rgb(111, 45, 150); */
    border-top: 3px solid rgb(111, 45, 150);



}
#news-item h2{
    font-size: 2rem;
}

#news-item p{
    font-size: 1.5rem;
    
}

.gallary-content{
    text-align: center;
    margin-bottom: 20px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    background-color: rgb(36, 36, 36);
    color: rgb(111, 45, 150);

}

.gallary-content h1{
    font-size: 4rem;

}


.gallary-content a {
    /* height: 36rem; */
    /* width: 70%; */
    font-size: 3rem;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* margin-right: auto;
    margin-left: auto; */
    margin-top: 50px;
    text-align: center;
    /* justify-content: center; */
    text-decoration: none;

}

.gallary-content a:hover {
   color: white;
   text-decoration: underline;
   font-size: 4rem;
}

.season-content{
    text-align: center;
    margin-bottom: 20px;
    /* margin-left: 35%; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
   

}

.season-content h1{
    font-size: 4rem;
    text-align: center;
    /* margin-left: -30%; */


}

/* .season-content ul{
    float: left;
    position: relative;
    left: -50%;
} */


.season-content a {
    /* height: 36rem; */
    /* width: 70%; */
    font-size: 2rem;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    margin-right: auto;
    margin-left: auto; 
    margin-top: 50px;
    text-align: left;
    justify-content: left;
    text-decoration: none;
}

.season-content a:hover {
   color: rgb(36, 36, 36);
   text-decoration: underline;
}



/* #cincopa_5de2ff{
    height: 1;

} */

.s1516KirkA-content h1{
    font-size: 4rem;
    text-align: center;
}

/* .season-content ul{
    float: left;
    position: relative;
    left: -50%;
} */


.s1516kirka-content img {
   display: inline-flex;
   justify-content: center;
}

.s1516kirka-content img:hover {
    height: auto;
    width: 100%;
    top: 0;
    left: 10px;
    right: 10px;
    cursor: pointer;
}



.contact-content {
   text-align: center;
   align-content: center;
   width: 100%;
   color:rgb(111, 45, 150);
   background-color: rgb(36, 36, 36);
}

.contact-content h1 {
    font-size: 3rem;
}

.contact-content .address {
    text-align: center;
    font-size: 1.5rem;

}

.contact-content .telephone {
    text-align: center;
    font-size: 1.5rem;
}



.contact-content .wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3{
        display: inline-block;
        justify-content: center;
        margin-bottom: 50px;
    
}

input[type=text],[type=number],[type=email] select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: rgb(111, 45, 150);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: rgb(111, 45, 150);
  }
  
  /* Add a background color and some padding around the form */
  .contact-form {
    /* display: inline;
    justify-content: center;
    align-content: center; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: left;
    width: 70%

  }


.join-content{
    background-color: rgb(36, 36, 36);
    color:rgb(111, 45, 150);
    text-align: center;
}

.join-content h1{
    font-size: 3rem;
}

.join-content p{
    font-size: 1.5rem;
}

.join-content h2{
    font-size: 2rem;
}

footer{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.soc-med, .sponsors, .affiliations{
    border-bottom: 3px solid rgb(111, 45, 150);
}

.soc-med {
    border-top: 3px solid rgb(111, 45, 150);
}


footer img{
    margin: 5% ;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

footer img:hover{
    filter: none;
}